QDockWidget {
 background: $level00;

 border: 2px;
 border-radius: 13px;
 border-color: $level00;

 color: $fontColor;
 font-family: $fontFamily;
 font-size: $fontSize;
}

QDockWidget:title{
 background: $level02;

 border: 6px;
 border-radius: 6px;
 border-color: $level00;

 font-weight: bold;
 padding: 5, 2, 2, 2;
}


